@import './variables';

%icons{
  font-weight: 600;
  color: $mainColor;
  font-size: $sousTitre;

  &:hover{
    color: $hoverColor;
    span{
      color: $hoverColor;
      transition:color 0.5s ease-in-out
    }
  }
}