@import './variables';

%icons{
  font-weight: 600;
  color: $mainColor;
  font-size: $sousTitre;
  

  &:hover{
    color: $hoverColor;
    span{
      transition:color 0.25s ease-in;
    }
    .underline {
      background-color: red;
    }
  }
}