@import 'mixin.scss';
@import './variables';
@import '_placeholders';
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open San, Helvetica Neue, sans-serif;
  background-image: url(../public/Background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #FFFF;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//NavBar Latérale
.nav-container {
  height: 100%;
  width: 62px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  background: transparent;
  border-right: $mainColor 1px solid;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: width 1s;

  .nav-item {  
    margin-bottom: 5rem;
    padding-top: 5rem;
    @extend %icons;   
    @include flexbox(center, center);
    padding: 0;
    cursor: pointer;

    span{
      position: absolute;
      left: 50px;
      transition: color 1s;
      color: #FFF0;
      padding: 0rem 0rem 0rem 1rem;
      font-size: $sousTitre;
    }
  }
  &:hover {
    align-items: flex-start;
    width: 172px;

    span{
      color: #FFF;
    }
  }
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

}
