@import 'mixin.scss';
@import './variables';
@import '_placeholders';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #FFFF;
  font-weight: 400;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// App
.app-container {
  display: flex;
  background-image: url(../public/bg.6.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



//NavBar Latérale
.nav-container {
  min-height: 100vh;
  width: 62px;
  position: fixed;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  background: $card-gradient;
  border-right: $mainColor 1px solid;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: width 0.2s ease-out;

  .nav-item {
    margin: 5rem 1rem 5rem 1rem;
    @extend %icons;
    @include flexbox(center, center);
    background-color: transparent;
    cursor: pointer;

    span {
      position: absolute;
      left: 50px;
      transition: color 0.05s linear, visibility 0.25s ease-in;
      color: #FFF0;
      padding: 0rem 0rem 0rem 1rem;
      font-size: $sousTitre;
      visibility: hidden;
    }
  }

  &:hover {

    align-items: flex-start;
    width: 12rem;
    transition: width 0.3s ease-out;

    span {
      visibility: visible;
      transition: color 0.5s ease-in, border-bottom 0.5s ease-in;
      color: #FFF;
    }
  }
}

.main-page{
  @include flexbox(flex-start,center);
  flex-direction: column;

  .section-title {
      margin-left: 12rem;
      padding-top: 2vh;
      width: 50%;
      border-bottom: solid 1px $mainColor;
    }
}




// HERO

.hero-section {
  @include flexbox(flex-start, center);
  flex-direction: column;
  padding-left: 10rem;
  padding-bottom: 10rem;
  height: 100vh;

  .hero-card{
    padding: 2rem;
    img{
      box-shadow: none;
    }
  } 
  h3 {
    font-weight: 400;
  }
  .underline{
    border: 1px solid $mainColor;
    width: 40vw;
    margin-top: 1rem;
  }

  .hero-text {
    @include flexbox(flex-start, center);
    flex-direction: column;


    h1 {
      font-weight: 800;
      font-size: 96px;
      color: $mainColor;
    }

    h3 {
      margin-top: 5rem;
      font-weight: 300;
      font-size: 20px;
      transition: color 0.2s ease-in;

      &:hover {
        color: $hoverColor;
        transition: color 0.2s ease-in;
      }
    }

    p {
      font-weight: 100;
      width: 50%;
      margin-bottom:2rem
    }
  }
}


// Catégories

.category-container {
  @include flexbox(flex-start, flex-start);
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 12rem;
  margin-bottom: 5rem;
  max-width: 80%;
  .category{
    margin-top: 5rem;
    @include flexbox(center, flex-start);
    @include card($card-gradient, 20px, 50px, 200px, 100px, 100px);
    margin-right: 2rem;
    
    .logo-category{
      box-shadow: none;
        margin-right: 1rem;
        margin-left: 1rem;
        border-radius: 0%;
        height: 2rem;
        width: 2rem;
    }

    &:hover {
        background-color: $hoverColor;
        transition: background-color 0.2s ease-in;
      }
  }
}








// Articles 

.articles-container {
  @include flexbox(flex-start, flex-start);
  flex-direction: row;
  max-width: 80%;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding-left: 12rem;
  height: 100vh;


  // Articles Card

  .card-container {

    @include flexbox(center, center);
    flex-direction: column;
    margin-right: 2rem;
    @include card($card-gradient, 20px, 400px, 300px, 100px, 100px);
    transition: background-color 0.2s ease-in;

    section {
      @include flexbox(center,center);
      flex-direction: column;
      h2{
        font-size: 20px;
        margin-top: 2rem;
        text-align: center;
      }
    }

    .img-profil {
      height: 3rem;
      width: 3rem;
      border: #FFF 1px solid;
      border-radius: 50%;
      margin-right: 2rem;
    }

    .infos-container {
      margin-top: 1rem;
      @include flexbox(center, space-around);
    }
    .tags-logo {
      @include flexbox(center, center);
      margin-top: 1.5rem;
      img{
        box-shadow: none;
        margin-right: 1rem;
        margin-left: 1rem;
        border-radius: 0%;
        height: 2rem;
        width: 2rem;
      }
    }
    &:hover {
      background-color: $hoverColor;
      transition: background-color 0.2s ease-in;
    }
  }
}


// ARTICLE 
.article{
  height: 100vh;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

}
